@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170%;
    margin: auto;
    padding: 0 15px;
}
body{
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    z-index: 10;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    text-align: left;
}
.header .menu .head{
    display: none;
}
.header .menu ul{
    list-style: none;
}
.header .menu > ul > li{
    display: inline-block;
}
.header .menu > ul > li:not(:last-child){
    margin-right: 40px;
}
.header .menu .dropdown{
    position: relative;
}
.header .menu a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    display: block;
}
.header .menu > ul > li > a{
    padding: 24px 0;
}
.header .menu > ul > .dropdown > a{
    padding-right: 15px;
}
.header .menu i{
    font-size: 10px;
    pointer-events: none;
    user-select: none;
    position: absolute;
    color:hsl(0, 0%, 100%);
    top: calc(50% - 5px);
}
.header .menu > ul > li > i{
    right: 0;
}
.header .menu .sub-menu{
    position: absolute;
    top: 100%;
    width: 230px;
    left: 0;
    padding: 15px 0;
    background-color: hsl(229, 55%, 64%);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
}
.header .menu .sub-menu-right{
    left: 100%;
    top: 0;
}
.header .menu .sub-menu-left{
    top: 0;
    left: auto;
    right: 100%;

}
.header .menu li:hover > .sub-menu{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.5s ease;
}
.header .menu .sub-menu a{
    padding: 6px 24px;
}
.header .menu .sub-menu .dropdown > a{
    padding-right: 34px;
}
.header .menu .sub-menu span{
    background-image: linear-gradient(hsl(0, 0%, 100%),hsl(0, 0%, 100%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}
.header .menu .sub-menu li:hover > a > span{
    background-size: 100% 1px;
}
.header .menu .sub-menu i{
    transform: rotate(-90deg);
    right: 24px;
}
.header-right{
    display: flex;
}
.header-right > *{
    margin-left: 25px;
}
.header-right .icon-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}
.header-right .open-menu-btn{
    display: none;
}

@media (max-width:991px) {
    .header{
        padding: 12px 0;
    }
    .header .menu{
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: hsl(229, 54%, 51%);
        padding: 15px 30px 30px;
        overflow-y: auto;
        z-index: 1;
        transform: translateX(100%);
    }
    .header .menu.open{
        transform: none;
    }
    .header .menu .head{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 25px;
        padding-right: 30px;
        
    }
    .header .menu .close-menu-btn{
        height: 38px;
        width: 38px;
        position: relative;
        display: inline-flex;
        /* justify-content:left; */
        background-color: transparent;
        align-items: center;
        cursor: pointer;
        border: none;
        margin-left: 75%;
    }
        
    .header .menu .close-menu-btn::before,
    .header .menu .close-menu-btn::after{
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: hsl(0, 0%, 100%);
    }
    .header .menu .close-menu-btn::before{
        transform: rotate(45deg);
    }
    .header .menu .close-menu-btn::after{
        transform: rotate(-45deg);
    }
    .header .menu > ul > li{
        display: block;
    }
    .header .menu > ul > li:not(:last-child){
        margin-right: 0;
    }
    .header .menu li{
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    }
    .header .menu li:first-child{
        border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    }
    .header .menu > ul > li > a{
        padding: 12px 0;
    }
    .header .menu > ul > .dropdown > a{
        padding-right: 34px;
    }
    .header .menu i{
        height: 34px;
        width: 34px;
        border:1px solid hsla(0, 0%, 100%, 0.25);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        cursor: pointer;
        top: 7px;
    }
    .header .menu .dropdown.active > i{
        background-color: hsla(0, 0%, 100%, 0.25);
        transform: rotate(180deg);
    }
    .header .menu .sub-menu{
        position: static;
        opacity: 1;
        transform: none;
        visibility: visible;
        padding: 0;
        transition: none;
        box-shadow: none;
        width: 100%;
        display: none;
    }
    .header .menu .dropdown.active > .sub-menu{
        display: block;
    }
    .header .menu .sub-menu li:last-child{
        border: none;
    }
    .header .menu .sub-menu a{
        padding: 12px 0 12px 15px;
    }
    .header .menu .sub-menu .sub-menu a{
        padding-left: 30px;
    }
    .header .menu .sub-menu .sub-menu .sub-menu a{
        padding-left: 45px;
    }
    .header .menu .sub-menu .sub-menu .sub-menu .sub-menu a{
        padding-left: 60px;
    }
    .header .menu .sub-menu span{
        background-image: none;
    }
    .header .menu .sub-menu i{
        transform: none;
        right: 0;

    }
    .header-right .open-menu-btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;
    }
    .header-right .open-menu-btn .line{
        height: 2px;
        width: 30px;
        background-color: hsl(0, 0%, 100%);
        position: absolute;
    }
    .header-right .open-menu-btn .line-1{
        transform: translateY(-8px);
    }
    .header-right .open-menu-btn .line-3{
        transform: translateY(8px);
    }
}
.hero{ 
    min-height: 100vh;
    background-image: url('./img/bg-img.jpeg');
    background-size: cover;
    background-position: center;
}

         /* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('img/contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

         /* Services Section */

.h-primary {
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;  
}
.services{
    display:flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;   
}
.services .box img{
    width: 40%;
    justify-content: center;
    display: flex;    
}
.services img{
    justify-content: center;
    margin-left: 30%;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 100%;
    max-height:100%;
   
    
}
.services .box .center{
    text-align: center;
    padding: 10px;  
}
td .value img{
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    width: 104px;
    aspect-ratio: auto 104 / 16;
    height: 16px;
}

table {

    width: 33em;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
   background-color: #c1dde3;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
th {
    text-align: left;
    vertical-align: top;
}
.menu-text {
    position: absolute;
    font-size: 0;
    left: -1000px;
}
td.first {
    border-top: 1px solid #e5e5e5;
}
td {
    padding: 4px 6px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #c1dde3;
}
td.value {
    background-image: url(https://www.standards-schmandards.com/exhibits/barchart/gridline58.gif);
    background-repeat: repeat-x;
    background-position: left top;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 0;
    border-bottom: none;
    background-color: transparent;
}
.top-line{
    padding: 8px;
    font-size: small;
}
.hover-done > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.hover-done:hover > *{
    transform: translateY(0px);
}
.hover-done:hover{
    opacity: 1;
}
